<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>食物列表</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="food">
      <h1>食物列表</h1>
      <ul>
        <% foods.forEach(function(food) { %>
        <li>
          <%= food.name %> - <%= food.type %>
          <form
            action="/delete/<%= food._id %>"
            method="POST"
            style="display: inline"
          >
            <button class="btn3" type="submit">刪除</button>
          </form>
        </li>
        <% }) %>
      </ul>
    </div>

    <h2>篩選食物</h2>
    <div>
      <form action="/foods" method="GET" style="display: inline">
        <button class="btn2" type="submit">全部食物</button>
      </form>
      <form action="/foods" method="GET" style="display: inline">
        <input type="hidden" name="type" value="meal" />
        <button class="btn2" type="submit">正餐</button>
      </form>
      <form action="/foods" method="GET" style="display: inline">
        <input type="hidden" name="type" value="snack" />
        <button class="btn2" type="submit">點心</button>
      </form>
    </div>

    <br />

    <a href="/">返回首頁</a>
  </body>
</html>
