* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div {
  margin: 2rem 2rem;
}

div.add,
div.random {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  margin: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
select {
  margin: 1rem;
  width: 150px;
  height: 30px;
  font-size: 20px;
}

button.bt1 {
  width: 50px;
  height: 30px;
  font-size: 20px;
  background-color: rgb(53, 244, 15);
  border-style: none;
  border-radius: 10%;
}

div.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3 {
  margin: 1rem;
}

button.btn2 {
  width: 80px;
  height: 30px;
  font-size: 1rem;
}

div.foot a {
  margin: 1rem 1rem;
}

div.food {
  display: flex;
  align-items: center;
  flex-direction: column;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 1rem 7rem;
}

li {
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
}

button.btn3 {
  width: 50px;
  height: 30px;
  font-size: 20px;
  background-color: rgba(255, 0, 0, 0.636);
  border-style: none;
  border-radius: 10%;
}

a {
  font-size: 20px;
}
